<!-- Attribute Score -->
<div class="flexrow">
  <!-- Attribute Name -->
  <div>
    <button type="button" class="plain" data-tooltip="{{ localize (concat 'ACKS.scores.' abbr '.long') }}">
      <i class="fa-solid fa-dice-d20"></i>
      <label for="{{@root.partId}}-score-{{abbr}}">{{ localize (concat "ACKS.scores." abbr ".short") }}</label>
    </button>
  </div>
  <!-- Attribute Value -->
  <div class="attribute-value">
    <input name="system.scores.{{abbr}}.value" type="text" id="{{@root.partId}}-score-{{abbr}}"
           value="{{lookup (lookup (lookup system "scores") abbr) "value"}}" placeholder="0" data-dtype="Number"/>
    <div data-tooltip="Modifier" class="attribute-value__mod">
      {{mod (lookup (lookup (lookup system "scores") abbr) "mod")}}
    </div>
  </div>
</div>
