<section class="tab {{ tab.cssClass }} sheet-hirelings" data-group="primary" data-tab="hirelings">
  <div class="content flexrow">
    <div class="flexcol">

      <section class="wages-panel">

        <div>{{localize 'ACKS.totalWages'}}: {{totalWages}} gp</div>
        <div>{{localize 'ACKS.availableMoney'}}: {{totalMoneyGC}} gp</div>
        <button type="button" data-action="payWages">{{localize 'ACKS.payWages'}}</button>

      </section>

      {{#if hirelings.henchman}}
        {{> hirelingList hirelings=hirelings.henchman title="Henchmen" owner=owner }}
      {{/if}}

      {{#if hirelings.mercenary}}
        {{> hirelingList hirelings=hirelings.mercenary title="Mercenaries" owner=owner }}
      {{/if}}

      {{#if hirelings.specialist}}
        {{> hirelingList hirelings=hirelings.specialist title="Specialists" owner=owner }}
      {{/if}}

    </div>
  </div>
</section>
